.btn-common {
    color: #f2e0c8 !important;
    background-color: #bd8d4c;
    font-family: 'Montserrat',sans-serif;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    line-height: 22px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    -webkit-appearance: none;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 22px;
    font-weight: 600;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 1.05em 2.5em 1.1em;
    letter-spacing: 0;
    height: auto;
    border-width: 0 !important;
    -webkit-border-radius: 35px;
    -ms-border-radius: 35px;
    border-radius: 35px;
}

.btn-common:hover {
    color: #f2e0c8;
    background-color: #070301;
}
