.current-menu-ancestor {
    color: #bd8d4c !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.d-none {
    display: none !important;
}

.d-flex {
    display: flex !important;
}

.mt-2 {
    margin-top: 2rem;
}

.puzzle-available-in {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: larger;
    color: rgb(72, 66, 66);
}

.puzzle-timer {
    margin-left: 4px;
}

.disabled-link {
    pointer-events: none;
    color: gray;
    text-decoration: none;
    cursor: default;
}

.disabled-link h4, .disabled-link .sc_icons_icon {
    opacity: 0.5;
}

.btn-filter-puzzle.active {
    background-color: #000;
    color: #fff;
}

.sc_layouts_title_caption {
    padding-top: 3% !important;
}

.puzzle_banner {
    max-height: 300px !important;
}



