.welcome-title {
    text-align: center !important;
    font-size: 2.5rem;
    font-weight: bold;
    color: #62401f !important;
    position: relative;
    margin-bottom: 50px;
}

.welcome-title::before,
.welcome-title::after {
    content: "";
    position: absolute;
}

.welcome-title::before {
    background-image: url('../../images/home/welcome-header1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    height: 100%;
    left: 25%;
    margin-bottom: 15px;
}

.welcome-title::after {
    background-image: url('../../images/home/welcome-header2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    height: 100%;
    left: 25%;
    margin-bottom: 15px;
}
